{
  "extends": [
    "airbnb-base",
    "xo",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": ["prettier", "eslint-plugin-jsdoc", "@typescript-eslint", "jest"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "ignorePatterns": ["jest.config.js", "**/__fixtures__"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/camelcase": 0,
    "complexity": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "class-methods-use-this": 0
  }
}
